<div class="video-section">
  <p class="video-section__title">{{ section.settings.title }}</p>
  <div class="video-section__media">
    {% render 'video-render', video: section.settings.video, autoplay: section.settings.autoplay, class: 'my-video' %}
  </div>
</div>

<style>
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .video-section__title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  .my-video {
    display: flex;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Video section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video section"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A shopify hosted video"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Video autoplay",
      "default": false
    }
  ]
}
{% endschema %}
