<div class="video-section">
  <p class="video-section__title">{{ section.settings.title }}</p>
  <div class="video-section__media">
    <video
      data-lazy-load
      width="840"
      height="460"
      autoplay
      muted
      loop
      poster="{{ section.settings.video.preview_image |  image_url  }}"
    >
      {% for source in section.settings.video.sources %}
        <source data-src="{{ source.url }}" type="{{ source.mime_type }}">
      {% endfor %}
    </video>
  </div>
</div>

<style>
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .video-section__title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  .video-section__media {
    display: flex;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Video section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Video lazy load test",
      "default": "Video section"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A shopify hosted video"
    }
  ]
}
{% endschema %}
