<div class="video-section">
  <p class="video-section__title">{{ section.settings.title }}</p>
  <div class="video-section__media">
    {{
      section.settings.video
      | video_tag: width: 840, height: 460, autoplay: true, loop: true, muted: true, data-lazy-load: true
    }}
  </div>
</div>

<style>
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .video-section__title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  .video-section__media {
    display: flex;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Video section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Video lazy load test",
      "default": "Video section"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A shopify hosted video"
    }
  ]
}
{% endschema %}
